* {
    background-color: orange;
    font-family: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border: 2px solid;
    border-radius: 2px;
    border-color: blue;
}